:root{
	--main-back: #5e42b0;
	--main-color: white;
}
.works__my_block{
	width: 100%;
	overflow: hidden;
}
.works__my{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	transform: translateX(0%);
	transition: all .2s ease;
	/*width: 100vw;*/
}
.works__pic{
	width: 100%;
}
.my__img{
	width: 100vw;
	margin: 0;
}
.works__page{
	padding: 5% 0;
}
.page__span{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--main-color);
	display: inline-block;
	vertical-align: top;
	margin: 0 1%;
	cursor: pointer;
	border: 1px solid var(--main-back);
	transition: all .4s ease;
}
.page__span_active{
	border: 1px solid var(--main-back);
	background: var(--main-back);
}
.my__modal, .works__add{
	display: none;
}