:root{
	--main-color: white;
	--main-back: #5e42b0;
	--spacing: 1%;
	--big-spacing: 2% 4%;
}
body{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-family: 'Josefin Sans', sans-serif;
	background-color: var(--main-back);
	background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}
.header{
	
}
.navbar{
	z-index: 18;
	padding: 0 0;
	background: white;
	/*position: fixed;*/
	width: 100%;
	height: 100%
	/*-webkit-box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0.75);*/
/*-moz-box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0.75);*/
/*box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0.75);*/
}
.navbar__ul{
	padding-left: 0;
	margin: 0;
	display: block;
	font-family: 'Josefin Sans', sans-serif;

}
.navbar__li{
	list-style: none;
/*	display: block;*/
	width: 100%;
	font-size: 2em;
	margin: 0 auto;
	text-shadow: 0px 0px 1px #FFFFFF;
	transition: all 0.2s ease;
	text-align: center;
}
.navbar__a{
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	color: #c91d29;

}
.hamburger{
	position: fixed;
	top: 85%;
	right: 3%;
	border-radius: 50%;
	padding: 17px 12px 13px!important;
	background-color: white!important;
	/*opacity: .7;*/
		outline: none;
	transition: all .3s ease;
	z-index: 20;
}
.hamburger-center{
	top: 1%;
	outline: 1px solid black;
}
.hamburger:focus{
	outline: none;
}
/*.hamburger:focus, .hamburger:hover{
	opacity: 1;
}*/
/*.humburger-menu{
	background: white;
	border: none;
	z-index: 500;
	margin: 0.5% auto 0;
	font-size: 2.5em;
	cursor: pointer;
	display: block;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}
*/


.name{
	margin-top: 7%;
	display: block;
}
.name__h1, .name__span{
	text-align: center;
}
.name__h1{
	font-size: 4em;
	color: var(--main-color);
	text-shadow: 0px 0px 1px #FFF;
	transition: all 0.1s ease;
	cursor: pointer;
}
.name__span{
	font-size: 2em;
	text-shadow: 0px 0px 0.5px #FFFFFF;
	color: var(--main-color);
	transition: opacity 0.3s ease;
}
.label__color{
	display: block;
	text-align: center;
	font-size: .7em;
	color: var(--main-back);
}
.color__change{
	display: block;
	padding: 0;
	margin: 0 auto 1%;
	background: var(--main-color);
}
.jobs{
	box-sizing: border-box;
}
.jobs__quote{
	/*width: 44%;*/
	display: inline-block;
	padding: 5%;
	vertical-align: top;
	color: var(--main-color);
}
.quote__span{
	color: var(--main-color);
	font-size: 3em;
	/**/text-shadow: 0px 0px 2px #fff;
}
.quote__span_steve{

	display: block;
	text-align: right;
	font-size: 2em;
}
.img__jobs{
	/*width: 50%;*/
	vertical-align: bottom;
	display: inline-block;
	transition: all 0.2s ease;
}

/*.img__jobs:target{
	opacity: 1;
}*/

.about-me{
	overflow: hidden;
	background-color: rgba(256,256,256,.2)
}
.me__info, .my-works, .skills, .contacts, .feedback{
	padding: 1% 12%;
}
.info__h2, .works__h2, .skills__h2, .contacts__h2, .feedback__h2{
	font-size: 3em;
	color: var(--main-color);
}
.contacts{
	padding: 0 var(--spacing);
}
.info__p{
	font-size: 1.3em;
	color: var(--main-color);
}
.info__img{
	width: 80%;
}
.info__h2{
	margin-bottom: 1%;
}
.my-works, .feedback{
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
	padding: 0;
}
.works__h2{
	color: black;
	margin-bottom: 2%;
	display: block;
	text-align: center;
}
.my__img{
/*	margin: var(--spacing);
	outline: 1px solid black;*/
}
.works__add{
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	margin: 5% auto;
	font-size: 2em;
	text-transform: uppercase;
	border: none;
	background: var(--main-back);
	padding: var(--big-spacing);
	cursor: pointer;
	border-radius: 2em;
	font-weight: bold;
	color: var(--main-color);
}
.skills{
	padding: 3% 0%;
}
.skills__h2{
	text-align: center;
	margin: 1% 0;
}

.graph__title{
	color: var(--main-color);
	text-transform: uppercase;
	font-size: 2em;
}
.graph__prog{
	display: block;
	margin: 1% auto;
}

 .navbar{
	/*padding: 2%;*/
	/*display: none!important;*/
}
.feedback__form{

}
.feedback__h2{
	color: black;
	margin-bottom: 1%;
}
/*.labelBig{
	display: none;
}
.imgNoBig{
	display: none !important;
}*/
.contacts{
	background: white;
}
.contacts__h2{
	color: #000;
	text-shadow: 0px 0px 0.5px #FFFFFF;
	margin-bottom: 1%;
	padding-bottom: 0;
}
.author__p{
	display: block;
	font-size: 2em;
	text-shadow: 0px 0px 0.5px #FFFFFF;
}

@media only screen and (max-width: 62em){
	.skills{
	padding: 3% 0%;
}
	.skills__h2{
	text-align: center;
	margin: 5% 0 1%;
	}
	.navbar{
/*		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;*/
	}
	.navbar__a{
		display: block;
		/*color: transparent;*/
		color: #ce1313;
		/*color: #464646;*/
	}

.img__jobs{
	display: none;
}
.navbar__ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	/*display: none;*/
	background: var(--main-color);
	transform: translateX(500%);
	transition: all 0.25s cubic-bezier(1,0,0,.5);	
}
.navbar__ul_active{
	transform: translateX(0%);
}
.navbar__li{
	background: white;
	color: black;
	text-transform: uppercase;
	/*text-shadow: 0px 0px 2px #FFFFFF;*/
}
.navbar__li:first-child{
	font-size: 3.5em;
	font-weight: bold;
}
.navbar__li:last-child{
	font-size: 1.5em;
}
.navbar__a{
	display: block;
	margin: auto;
	width: 100%;
	color: var(--main-back);
}
.circle__span{
	cursor: pointer;
	width: 3.5em;
	height: 3.5em;
	text-align: center;
	font-size: 1.8em;
	padding: 0.55em;
	font-weight: 500;
	border-radius: 0%;
	transition: all 0.3s ease;
	filter: grayscale(100%);
}
.circle__span:hover{
	border-radius: 50%;
	filter: grayscale(0%);
	font-weight: 600;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.graph__title{
	font-size: 1.5em;
}
}
@media only screen and (min-width: 62em) {
	.jobs__quote, .img__jobs, .info__p, .info__img, .graph__progress_main, .graph__progress span, .works__gallery{
		display: inline-block;
		width: 49%;
	}
	.name__span{
		transition: all 0.2s ease;
	}
	.info__p{
		vertical-align: top;
		padding: 0.5em;
		margin: 0;
	}
	.sprite__img:hover{
		border-radius: 33%;
		-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	}
	.circle__span{
	cursor: pointer;
	width: 5.2em;
	height: 5.2em;
	text-align: center;
	font-size: 1.8em;
	padding: 1em;
	font-weight: 500;
	border-radius: 0%;
	transition: all 0.22s ease;
	filter: grayscale(100%);
}
.circle__span:hover{
	border-radius: 20%;
	filter: grayscale(50%);
	font-weight: 600;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.circle__span:active{
	border-radius: 50%;
	filter: grayscale(0%);
	font-weight: 600;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
	.graph__progress span{
	margin: 0 auto;
	font-size: 0.85em;
	text-align: center;
	color: white;
	cursor: pointer;
	display: block;
	margin: 1px auto 0;
	}
	.works__gallery:hover{
		transform: scale(1.02, 1.02);
	}
	.humburger-menu{
		display: none;
	}
	.navbar__ul{
	overflow: visible;
	background: white;
	height: auto;
	}
	.navbar__li{
		list-style: none;
		display: inline-block;
		font-size: 2.15em;
		padding: 0 3px;
	}
	.navbar__li:hover{
		transform: scale(1.15, 1.15);
	}
	.info__img{
		align-self: stretch;
		height: 70%;
		object-fit: cover;
		object-position: 0 50%;
		overflow: hidden;
	}
	.data__name_input, .data__mess_input{
		width: 50%;
		margin: 2%;
		/*font-size: 1.5em;*/
	}
	.feedback__comment{
		margin: 2% auto 0;
	}
	.labelNoBig{
		display: none;
	}
	.name__comment{
		display: block;
	}
	.data__comment_input{
		display: inline-block;
		margin: 0;
		vertical-align: top;
		width: 50%;
	
	}
	.data__submit{
		font-weight: normal;
		padding: 1% 2.5%;
		font-size: 1.5em;
	}
	.author__p{
	display: inline-block;
	width: 49%;
	}
	.spriteBig{
		display: inline-block !important;
	}
	.spriteNoBig{
		display: none;
	}
	.sassBig, .paintBig{
	display: none;
}
}

@media only screen and (min-width: 75em) {
	.sprite__img{
		margin: 0.5% 1.5%;
	}
	.sprite__img:hover{
		border-radius: 50%;
		-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	}
	.paintBig, .sassBig{
		display: inline-block;
		width: 49%;
	}
	.contacts__social{
		display: inline-block;
		padding: 0 !important;
		width: 20%;
	}
	.onlyNoLarge{
		display: none;
	}
/*	.my-works{
		padding: 0 3% 2%;
	}*/

	.works__gallery{
		width: 33%;
		display: inline-block;
		vertical-align: top;
	}
	.sass, .paint{
	width: 0%;
	opacity: 0;
	height: 20px;
	vertical-align: top;
	display: inline-block;
	transition: all 0.4s ease;
	background: #4db9b4;
background: -moz-linear-gradient(left, #4db9b4 0%, #51c4bf 15%, #21aeb3 30%, #05a1af 45%, #007b95 60%, #046176 76%, #004b5f 90%, #003949 100%);
background: -webkit-linear-gradient(left, #4db9b4 0%,#51c4bf 15%,#21aeb3 30%,#05a1af 45%,#007b95 60%,#046176 76%,#004b5f 90%,#003949 100%);
background: linear-gradient(to right, #4db9b4 0%,#51c4bf 15%,#21aeb3 30%,#05a1af 45%,#007b95 60%,#046176 76%,#004b5f 90%,#003949 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4db9b4', endColorstr='#003949',GradientType=1 );
}
.sass{
	width: 15%!important;
}
.paint{
	width: 96%!important;
}
.sass__main:hover > .sass{
	opacity: 1;
	width: 15%;
}
.paint__main:hover > .paint{
	opacity: 1;
	width: 96%;
}
}	
